
body{
    background: linear-gradient(135deg,#F5EEFF,#E9D5FF,#FFFFFF);
    background-size:300% 300%;
    animation:bgmove 10s ease infinite;
    font-family:Arial,sans-serif;
    margin:0;
    padding:20px;
}

@keyframes bgmove{
    0%{background-position:left;}
    50%{background-position:right;}
    100%{background-position:left;}
}
